# CITY Dataset

In [1344]:
# Import dependencies
import os
import csv
import pandas as pd
import openpyxl

## Demographic Metric

**Measuring**: ACS Population Density, Median Age, Education Level

Data was pulled from the 2020 __ENTER NAME___ Census Database and the American Community Survey (ACS) by the U.S. Census Bureau using various coded tables to ensure unified data for each metropolitan city. Two tables used the same code and were seperated to ensure proper measurement. 
* ACS Population Density: Table DP05
* Median Age: Table DP05
* Education Level: S1501

##### ACS Population Density & Median Age (Table DP05)

In [1345]:
# Import csv file for ACS Population Density
acs_pop_density_path = pd.read_csv("data_files\los_angeles_data\LA_pop_density_median_age_poverty_rate.csv")

# Read the CSV file into a DataFrame
la_pop_density_df = pd.DataFrame(acs_pop_density_path)

la_pop_density_df

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\1086533512.py:2: SyntaxWarning: invalid escape sequence '\l'
  acs_pop_density_path = pd.read_csv("data_files\los_angeles_data\LA_pop_density_median_age_poverty_rate.csv")

,Label (Grouping),California!!Estimate,California!!Margin of Error,California!!Percent,California!!Percent Margin of Error,"Los Angeles city, California!!Estimate","Los Angeles city, California!!Margin of Error","Los Angeles city, California!!Percent","Los Angeles city, California!!Percent Margin of Error"
0,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total population,"39,346,023",*****,"39,346,023",(X),"3,973,278",±209,"3,973,278",(X)
2,Male,"19,562,882","±1,263",49.7%,±0.1,"1,966,568","±4,443",49.5%,±0.1
3,Female,"19,783,141","±1,263",50.3%,±0.1,"2,006,710","±4,455",50.5%,±0.1
4,Sex ratio (males per 100 females),98.9,±0.1,(X),(X),98.0,±0.4,(X),(X)
...,...,...,...,...,...,...,...,...,...
89,Total housing units,"14,210,945","±1,339",(X),(X),"1,513,791","±4,248",(X),(X)
90,"CITIZEN, VOTING AGE POPULATION",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,"Citizen, 18 and over population","25,774,911","±28,869","25,774,911",(X),"2,465,175","±7,907","2,465,175",(X)
92,Male,"12,650,458","±16,190",49.1%,±0.1,"1,198,311","±5,427",48.6%,±0.1
93,Female,"13,124,453","±16,413",50.9%,±0.1,"1,266,864","±5,338",51.4%,±0.1

In [1346]:
# Display column names and data types
la_pop_density_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Label (Grouping)                                       94 non-null     object
 1   California!!Estimate                                   89 non-null     object
 2   California!!Margin of Error                            89 non-null     object
 3   California!!Percent                                    89 non-null     object
 4   California!!Percent Margin of Error                    89 non-null     object
 5   Los Angeles city, California!!Estimate                 89 non-null     object
 6   Los Angeles city, California!!Margin of Error          89 non-null     object
 7   Los Angeles city, California!!Percent                  89 non-null     object
 8   Los Angeles city, California!!Percent Margin of Error  89 non-null     object
dtypes: object(9)
memory usage: 6.7+ KB

QUESTIONS TO ASK:
- DO WE KEEP THE TEXAS DATA HERE? 
- IS IT TALKING ABOUT THE WHOLE OF TEXAS? IS THIS RELEVANT? IN A COMPARISON??

In [1347]:
# Drop columns (i.e any columns that contain 'Margin of Error')
la_pop_density_df = la_pop_density_df.loc[:, ~la_pop_density_df.columns.str.contains('Margin of Error')]

# Rename columns for clarity
la_pop_density_df = la_pop_density_df.rename(columns={
    'Label (Grouping)'	: 'Label/Group',
    'California!!Estimate' : 'California Estimate',
    'California!!Percent' : 'California Percent',	
    'Los Angeles city, California!!Estimate' : 'Los Angeles City Estimate',	
    'Los Angeles city, California!!Percent' : 'Los Angeles City Percent',	
})

# Display the first few rows of the cleaned DataFrame
la_pop_density_df.head()

,Label/Group,California Estimate,California Percent,Los Angeles City Estimate,Los Angeles City Percent
0,SEX AND AGE,NaN,NaN,NaN,NaN
1,Total population,"39,346,023","39,346,023","3,973,278","3,973,278"
2,Male,"19,562,882",49.7%,"1,966,568",49.5%
3,Female,"19,783,141",50.3%,"2,006,710",50.5%
4,Sex ratio (males per 100 females),98.9,(X),98.0,(X)

In [1348]:
# Save the cleaned DataFrame to a new CSV file
la_pop_density_df.to_csv('data_files\los_angeles_data\cleaned_la_pop_density.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\3054730451.py:2: SyntaxWarning: invalid escape sequence '\l'
  la_pop_density_df.to_csv('data_files\los_angeles_data\cleaned_la_pop_density.csv', index=False)

Note: will have to seperate the pop density and median age eventual...

#### Education Level (Table S1501)

In [1349]:
# Import csv file for edu level 
edu_level_path = pd.read_csv("data_files\los_angeles_data\LA_edu_lvl.csv")

# Read the CSV file into a DataFrame
edu_lvl = pd.DataFrame(edu_level_path)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\3183940299.py:2: SyntaxWarning: invalid escape sequence '\l'
  edu_level_path = pd.read_csv("data_files\los_angeles_data\LA_edu_lvl.csv")

In [1350]:
# Display column names and data types
edu_lvl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 25 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Label (Grouping)                                               68 non-null     object
 1   California!!Total!!Estimate                                    64 non-null     object
 2   California!!Total!!Margin of Error                             64 non-null     object
 3   California!!Percent!!Estimate                                  64 non-null     object
 4   California!!Percent!!Margin of Error                           64 non-null     object
 5   California!!Male!!Estimate                                     64 non-null     object
 6   California!!Male!!Margin of Error                              64 non-null     object
 7   California!!Percent Male!!Estimate                             64 non-null     object
 8   California!!Percent Male!!Margin of Error                      64 non-null     object
 9   California!!Female!!Estimate                                   64 non-null     object
 10  California!!Female!!Margin of Error                            64 non-null     object
 11  California!!Percent Female!!Estimate                           64 non-null     object
 12  California!!Percent Female!!Margin of Error                    64 non-null     object
 13  Los Angeles city, California!!Total!!Estimate                  64 non-null     object
 14  Los Angeles city, California!!Total!!Margin of Error           64 non-null     object
 15  Los Angeles city, California!!Percent!!Estimate                64 non-null     object
 16  Los Angeles city, California!!Percent!!Margin of Error         64 non-null     object
 17  Los Angeles city, California!!Male!!Estimate                   64 non-null     object
 18  Los Angeles city, California!!Male!!Margin of Error            64 non-null     object
 19  Los Angeles city, California!!Percent Male!!Estimate           64 non-null     object
 20  Los Angeles city, California!!Percent Male!!Margin of Error    64 non-null     object
 21  Los Angeles city, California!!Female!!Estimate                 64 non-null     object
 22  Los Angeles city, California!!Female!!Margin of Error          64 non-null     object
 23  Los Angeles city, California!!Percent Female!!Estimate         64 non-null     object
 24  Los Angeles city, California!!Percent Female!!Margin of Error  64 non-null     object
dtypes: object(25)
memory usage: 13.4+ KB

In [1351]:
# Drop unnecessary columns (i.e anything with "Margin of Error")
edu_lvl = edu_lvl.loc[:, ~edu_lvl.columns.str.contains('Margin of Error')]

In [1352]:
# Drop NaN values
edu_lvl = edu_lvl.dropna()

#Show column names
edu_lvl.columns

Index(['Label (Grouping)', 'California!!Total!!Estimate',
       'California!!Percent!!Estimate', 'California!!Male!!Estimate',
       'California!!Percent Male!!Estimate', 'California!!Female!!Estimate',
       'California!!Percent Female!!Estimate',
       'Los Angeles city, California!!Total!!Estimate',
       'Los Angeles city, California!!Percent!!Estimate',
       'Los Angeles city, California!!Male!!Estimate',
       'Los Angeles city, California!!Percent Male!!Estimate',
       'Los Angeles city, California!!Female!!Estimate',
       'Los Angeles city, California!!Percent Female!!Estimate'],
      dtype='object')

In [1353]:
# Rename columns for clarity
edu_lvl = edu_lvl.rename(columns={
        'Label (Grouping)': 'Label/Group', 
        'California!!Total!!Estimate' : 'California Estimate',
       'California!!Percent!!Estimate' : 'California Percent', 
       'California!!Male!!Estimate' : 'California Male Estimate',
       'California!!Percent Male!!Estimate' : 'California Male Percent', 
       'California!!Female!!Estimate' : 'California Female Estimate',
       'California!!Percent Female!!Estimate' : 'California Female Percent',
       'Los Angeles city, California!!Total!!Estimate' : 'Los Angeles City Estimate',
       'Los Angeles city, California!!Percent!!Estimate' : 'Los Angeles City Percent',
       'Los Angeles city, California!!Male!!Estimate' : 'Los Angeles City Male Estimate',
       'Los Angeles city, California!!Percent Male!!Estimate' : 'Los Angeles City Male Percent',
       'Los Angeles city, California!!Female!!Estimate' : 'Los Angeles City Female Estimate',
       'Los Angeles city, California!!Percent Female!!Estimate' : 'Los Angeles City Female Percent'})

# Display the first few rows of the cleaned DataFrame
edu_lvl.head()

,Label/Group,California Estimate,California Percent,California Male Estimate,California Male Percent,California Female Estimate,California Female Percent,Los Angeles City Estimate,Los Angeles City Percent,Los Angeles City Male Estimate,Los Angeles City Male Percent,Los Angeles City Female Estimate,Los Angeles City Female Percent
1,Population 18 to 24 years,"3,724,239",(X),"1,914,100",(X),"1,810,139",(X),"396,251",(X),"197,761",(X),"198,490",(X)
2,Less than high school graduate,"383,097",10.3%,"229,054",12.0%,"154,043",8.5%,"46,731",11.8%,"27,942",14.1%,"18,789",9.5%
3,High school graduate (includes equival...,"1,164,734",31.3%,"657,609",34.4%,"507,125",28.0%,"101,555",25.6%,"56,242",28.4%,"45,313",22.8%
4,Some college or associate's degree,"1,749,440",47.0%,"845,388",44.2%,"904,052",49.9%,"191,754",48.4%,"90,716",45.9%,"101,038",50.9%
5,Bachelor's degree or higher,"426,968",11.5%,"182,049",9.5%,"244,919",13.5%,"56,211",14.2%,"22,861",11.6%,"33,350",16.8%

    quesiton to ask: will we want to seperate this further???

In [1354]:
# save as new csv file with cleaned data
edu_lvl.to_csv('data_files\los_angeles_data\cleaned_la_edu_lvl.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\2556661394.py:2: SyntaxWarning: invalid escape sequence '\l'
  edu_lvl.to_csv('data_files\los_angeles_data\cleaned_la_edu_lvl.csv', index=False)

## Economic Metric

**Measuring**: Median Household Income, Unemployment Rate, Poverty Rate.

Data for this section was pulled from the __YOUR CITY__ 2020 Census Database using various coded tables:
* Median Household Income: Table S1901
* Unemployment Rate: Table S2301
* Poverty Rate: S1501

##### Median Household Income (Table S1901)

In [1355]:
# Import csv file from Median Household Income
med_household_income_path = pd.read_csv("data_files\los_angeles_data\LA_med_home_price_rent_homeownership_rate.csv")

# Read the CSV file into a DataFrame
med_household_income_df = pd.DataFrame(med_household_income_path)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\1592187105.py:2: SyntaxWarning: invalid escape sequence '\l'
  med_household_income_path = pd.read_csv("data_files\los_angeles_data\LA_med_home_price_rent_homeownership_rate.csv")

In [1356]:
# Display column names and data types
med_household_income_df

,Label (Grouping),California!!Estimate,California!!Margin of Error,California!!Percent,California!!Percent Margin of Error,"Los Angeles city, California!!Estimate","Los Angeles city, California!!Margin of Error","Los Angeles city, California!!Percent","Los Angeles city, California!!Percent Margin of Error"
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total housing units,"14,210,945","±1,339","14,210,945",(X),"1,513,791","±4,248","1,513,791",(X)
2,Occupied housing units,"13,103,114","±18,542",92.2%,±0.1,"1,402,522","±4,385",92.6%,±0.2
3,Vacant housing units,"1,107,831","±17,610",7.8%,±0.1,"111,269","±3,044",7.4%,±0.2
4,Homeowner vacancy rate,1.1,±0.1,(X),(X),1.0,±0.1,(X),(X)
...,...,...,...,...,...,...,...,...,...
155,20.0 to 24.9 percent,"681,447","±7,125",12.2%,±0.1,"91,801","±2,347",10.9%,±0.3
156,25.0 to 29.9 percent,"642,154","±6,848",11.5%,±0.1,"94,762","±2,677",11.2%,±0.3
157,30.0 to 34.9 percent,"527,570","±5,846",9.5%,±0.1,"80,271","±2,076",9.5%,±0.2
158,35.0 percent or more,"2,491,665","±16,984",44.7%,±0.2,"416,930","±4,467",49.3%,±0.5
159,Not computed,"288,878","±4,922",(X),(X),"38,282","±1,587",(X),(X)

In [1357]:
# Drop unnecessary columns (i.e anything with "Margin of Error")
med_household_income_df = med_household_income_df.loc[:, ~med_household_income_df.columns.str.contains('Margin of Error')]

#show column names
med_household_income_df.columns

Index(['Label (Grouping)', 'California!!Estimate', 'California!!Percent',
       'Los Angeles city, California!!Estimate',
       'Los Angeles city, California!!Percent'],
      dtype='object')

In [1358]:
# Rename columns for clarity
med_household_income_df = med_household_income_df.rename(columns={
        'Label (Grouping)' : 'Label/Group', 
        'California!!Estimate' : 'California Estimate', 
        'California!!Percent' : 'California Percent',
       'Los Angeles city, California!!Estimate' : 'Los Angeles City Estimate',
       'Los Angeles city, California!!Percent' : 'Los Angeles City Percent'})

med_household_income_df.head()

,Label/Group,California Estimate,California Percent,Los Angeles City Estimate,Los Angeles City Percent
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"14,210,945","14,210,945","1,513,791","1,513,791"
2,Occupied housing units,"13,103,114",92.2%,"1,402,522",92.6%
3,Vacant housing units,"1,107,831",7.8%,"111,269",7.4%
4,Homeowner vacancy rate,1.1,(X),1.0,(X)

In [1359]:
# Save as new csv file with cleaned data
med_household_income_df.to_csv('data_files\los_angeles_data\cleaned_la_med_household_income.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\3759722181.py:2: SyntaxWarning: invalid escape sequence '\l'
  med_household_income_df.to_csv('data_files\los_angeles_data\cleaned_la_med_household_income.csv', index=False)

##### Unemployment Rate (Table S2301)

In [1360]:
# Import csv file from unemployment rate
unemployment_rate_path = pd.read_csv("data_files\los_angeles_data\LA_unemployment_rate.csv")

# Read the CSV file into a DataFrame
unemployment_rate_df = pd.DataFrame(unemployment_rate_path)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\1884643821.py:2: SyntaxWarning: invalid escape sequence '\l'
  unemployment_rate_path = pd.read_csv("data_files\los_angeles_data\LA_unemployment_rate.csv")

In [1361]:
# Display column names and data types
unemployment_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 17 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Label (Grouping)                                                               41 non-null     object
 1   California!!Total!!Estimate                                                    35 non-null     object
 2   California!!Total!!Margin of Error                                             35 non-null     object
 3   California!!Labor Force Participation Rate!!Estimate                           35 non-null     object
 4   California!!Labor Force Participation Rate!!Margin of Error                    35 non-null     object
 5   California!!Employment/Population Ratio!!Estimate                              35 non-null     object
 6   California!!Employment/Population Ratio!!Margin of Error                       35 non-null     object
 7   California!!Unemployment rate!!Estimate                                        35 non-null     object
 8   California!!Unemployment rate!!Margin of Error                                 35 non-null     object
 9   Los Angeles city, California!!Total!!Estimate                                  35 non-null     object
 10  Los Angeles city, California!!Total!!Margin of Error                           35 non-null     object
 11  Los Angeles city, California!!Labor Force Participation Rate!!Estimate         35 non-null     object
 12  Los Angeles city, California!!Labor Force Participation Rate!!Margin of Error  35 non-null     object
 13  Los Angeles city, California!!Employment/Population Ratio!!Estimate            35 non-null     object
 14  Los Angeles city, California!!Employment/Population Ratio!!Margin of Error     35 non-null     object
 15  Los Angeles city, California!!Unemployment rate!!Estimate                      35 non-null     object
 16  Los Angeles city, California!!Unemployment rate!!Margin of Error               35 non-null     object
dtypes: object(17)
memory usage: 5.6+ KB

In [1362]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
unemployment_rate_df = unemployment_rate_df.loc[:, ~unemployment_rate_df.columns.str.contains('Margin of Error')]

#show column names
unemployment_rate_df.columns

Index(['Label (Grouping)', 'California!!Total!!Estimate',
       'California!!Labor Force Participation Rate!!Estimate',
       'California!!Employment/Population Ratio!!Estimate',
       'California!!Unemployment rate!!Estimate',
       'Los Angeles city, California!!Total!!Estimate',
       'Los Angeles city, California!!Labor Force Participation Rate!!Estimate',
       'Los Angeles city, California!!Employment/Population Ratio!!Estimate',
       'Los Angeles city, California!!Unemployment rate!!Estimate'],
      dtype='object')

In [1363]:
# Drop NaN values
unemployment_rate_df = unemployment_rate_df.dropna()

In [1364]:
# Rename for clarity 
unemployment_rate_df = unemployment_rate_df.rename(columns={
        'Label (Grouping)' : 'Label/Group', 
        'California!!Total!!Estimate' : 'California Total Estimate',
       'California!!Labor Force Participation Rate!!Estimate' : 'California Labor Force Participation Rate',
       'California!!Employment/Population Ratio!!Estimate' : 'California Employment/Population Ratio',
       'California!!Unemployment rate!!Estimate' : 'California Unemployment Rate',
       'Los Angeles city, California!!Total!!Estimate' : 'Los Angeles City Total Estimate',
       'Los Angeles city, California!!Labor Force Participation Rate!!Estimate' : 'Los Angeles City Labor Force Participation Rate',
       'Los Angeles city, California!!Employment/Population Ratio!!Estimate' : 'Los Angeles City Employment/Population Ratio',
       'Los Angeles city, California!!Unemployment rate!!Estimate' : 'Los Angeles City Unemployment Rate'
})


# Display the first few rows of the cleaned DataFrame
unemployment_rate_df.head()

,Label/Group,California Total Estimate,California Labor Force Participation Rate,California Employment/Population Ratio,California Unemployment Rate,Los Angeles City Total Estimate,Los Angeles City Labor Force Participation Rate,Los Angeles City Employment/Population Ratio,Los Angeles City Unemployment Rate
0,Population 16 years and over,"31,403,964",63.7%,59.4%,6.2%,"3,254,012",66.5%,61.9%,6.9%
2,16 to 19 years,"2,044,185",30.1%,23.5%,20.4%,"194,073",25.7%,19.7%,23.2%
3,20 to 24 years,"2,694,636",72.0%,62.6%,10.8%,"292,361",69.9%,61.9%,11.3%
4,25 to 29 years,"3,084,036",82.3%,75.6%,6.9%,"372,648",84.2%,78.1%,7.2%
5,30 to 34 years,"2,923,877",82.7%,77.4%,5.5%,"351,210",84.4%,79.2%,6.0%

In [1365]:
# save as new csv file with cleaned data
unemployment_rate_df.to_csv('data_files\los_angeles_data\cleaned_la_unemployment_rate.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\839100353.py:2: SyntaxWarning: invalid escape sequence '\l'
  unemployment_rate_df.to_csv('data_files\los_angeles_data\cleaned_la_unemployment_rate.csv', index=False)

#### Poverty Rate (S1501)

In [1366]:
# Import csv file from poverty rate
poverty_rate_path = pd.read_csv("data_files\los_angeles_data\LA_pop_density_median_age_poverty_rate.csv")

# Read the CSV file into a DataFrame
poverty_rate_df = pd.DataFrame(poverty_rate_path)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\919574814.py:2: SyntaxWarning: invalid escape sequence '\l'
  poverty_rate_path = pd.read_csv("data_files\los_angeles_data\LA_pop_density_median_age_poverty_rate.csv")

In [1367]:
# Display column names and data types
poverty_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Label (Grouping)                                       94 non-null     object
 1   California!!Estimate                                   89 non-null     object
 2   California!!Margin of Error                            89 non-null     object
 3   California!!Percent                                    89 non-null     object
 4   California!!Percent Margin of Error                    89 non-null     object
 5   Los Angeles city, California!!Estimate                 89 non-null     object
 6   Los Angeles city, California!!Margin of Error          89 non-null     object
 7   Los Angeles city, California!!Percent                  89 non-null     object
 8   Los Angeles city, California!!Percent Margin of Error  89 non-null     object
dtypes: object(9)
memory usage: 6.7+ KB

In [1368]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
poverty_rate_df = poverty_rate_df.loc[:, ~poverty_rate_df.columns.str.contains('Margin of Error')]

In [1369]:
# Drop NaN values
poverty_rate_df = poverty_rate_df.dropna()

#show columns
poverty_rate_df.columns

Index(['Label (Grouping)', 'California!!Estimate', 'California!!Percent',
       'Los Angeles city, California!!Estimate',
       'Los Angeles city, California!!Percent'],
      dtype='object')

In [1370]:
# Rename columns for clarity
poverty_rate_df = poverty_rate_df.rename(columns={
        'Label (Grouping)' : 'Label/Group', 
        'California!!Estimate' : 'California Estimate', 
        'California!!Percent' : 'California Percent',
       'Los Angeles city, California!!Estimate' : 'Los Angeles city Estimate',
       'Los Angeles city, California!!Percent' : 'Los Angeles city Percent'})


# Display the first few rows of the cleaned DataFrame
poverty_rate_df.head()

,Label/Group,California Estimate,California Percent,Los Angeles city Estimate,Los Angeles city Percent
1,Total population,"39,346,023","39,346,023","3,973,278","3,973,278"
2,Male,"19,562,882",49.7%,"1,966,568",49.5%
3,Female,"19,783,141",50.3%,"2,006,710",50.5%
4,Sex ratio (males per 100 females),98.9,(X),98.0,(X)
5,Under 5 years,"2,409,082",6.1%,"226,227",5.7%

In [1371]:
# save as new csv file with cleaned data
poverty_rate_df.to_csv('data_files\los_angeles_data\cleaned_la_poverty_rate.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\2611993350.py:2: SyntaxWarning: invalid escape sequence '\l'
  poverty_rate_df.to_csv('data_files\los_angeles_data\cleaned_la_poverty_rate.csv', index=False)

## Housing Metric

**Measuring**: Median Home Price, Median Rent, Homeownership Rate

Data for this section was pulled from the ___YOUR CITY___ 2020 Census Database using the same table code from the American Community Survey by the U.S. Census Bureau (ACS). 
* Median Home Price: Table DP04
* Median Rent: Table DP04
* Homeownership Rate: Table DP04

In [1372]:
# Import csv file from housing metrics
housing_metrics_path = pd.read_csv("data_files\los_angeles_data\LA_med_home_price_rent_homeownership_rate.csv")

# Read the CSV file into a DataFrame
housing_metrics_df = pd.DataFrame(housing_metrics_path)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\448850337.py:2: SyntaxWarning: invalid escape sequence '\l'
  housing_metrics_path = pd.read_csv("data_files\los_angeles_data\LA_med_home_price_rent_homeownership_rate.csv")

    NOTE: will need to seperate all these out.

In [1373]:
# display column names and data types
housing_metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Label (Grouping)                                       160 non-null    object
 1   California!!Estimate                                   143 non-null    object
 2   California!!Margin of Error                            143 non-null    object
 3   California!!Percent                                    143 non-null    object
 4   California!!Percent Margin of Error                    143 non-null    object
 5   Los Angeles city, California!!Estimate                 143 non-null    object
 6   Los Angeles city, California!!Margin of Error          143 non-null    object
 7   Los Angeles city, California!!Percent                  143 non-null    object
 8   Los Angeles city, California!!Percent Margin of Error  143 non-null    object
dtypes: object(9)
memory usage: 11.4+ KB

In [1374]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
housing_metrics_df = housing_metrics_df.loc[:, ~housing_metrics_df.columns.str.contains('Margin of Error')]

In [1375]:
# Delete NaN values
housing_metrics_df = housing_metrics_df.dropna()

#show columns
housing_metrics_df.columns

Index(['Label (Grouping)', 'California!!Estimate', 'California!!Percent',
       'Los Angeles city, California!!Estimate',
       'Los Angeles city, California!!Percent'],
      dtype='object')

In [1376]:
# Rename columns for clarity
housing_metrics_df = housing_metrics_df.rename(columns={
        'Label (Grouping)' : 'Label/Group',
        'California!!Estimate' : 'California Estimate',
        'California!!Percent' : 'California Percent',
       'Los Angeles city, California!!Estimate' : 'Los Angeles City Estimate',
       'Los Angeles city, California!!Percent' : 'Los Angeles City Percent'
       })


# Display the first few rows of the cleaned DataFrame
housing_metrics_df.head()

,Label/Group,California Estimate,California Percent,Los Angeles City Estimate,Los Angeles City Percent
1,Total housing units,"14,210,945","14,210,945","1,513,791","1,513,791"
2,Occupied housing units,"13,103,114",92.2%,"1,402,522",92.6%
3,Vacant housing units,"1,107,831",7.8%,"111,269",7.4%
4,Homeowner vacancy rate,1.1,(X),1.0,(X)
5,Rental vacancy rate,3.7,(X),4.2,(X)

In [1377]:
# save as new csv file with cleaned data
housing_metrics_df.to_csv('data_files\los_angeles_data\cleaned_la_housing_metrics.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\2917620231.py:2: SyntaxWarning: invalid escape sequence '\l'
  housing_metrics_df.to_csv('data_files\los_angeles_data\cleaned_la_housing_metrics.csv', index=False)

## Quality of Life Metric

**Measuring**: Commute Time 

Data was pulled from the Census Database using the following survey by ASC in 2020. 
* Commute Time: Table S0801

In [1378]:
# Import csv file from commute time
commute_time_path = pd.read_csv("data_files\los_angeles_data\LA_commute_time.csv")

# Read the csv file into a DataFrame
commute_time_df = pd.DataFrame(commute_time_path)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\2095756341.py:2: SyntaxWarning: invalid escape sequence '\l'
  commute_time_path = pd.read_csv("data_files\los_angeles_data\LA_commute_time.csv")

In [1379]:
# Display column names and data types
commute_time_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 13 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Label (Grouping)                                       63 non-null     object
 1   California!!Total!!Estimate                            57 non-null     object
 2   California!!Total!!Margin of Error                     57 non-null     object
 3   California!!Male!!Estimate                             57 non-null     object
 4   California!!Male!!Margin of Error                      57 non-null     object
 5   California!!Female!!Estimate                           57 non-null     object
 6   California!!Female!!Margin of Error                    57 non-null     object
 7   Los Angeles city, California!!Total!!Estimate          57 non-null     object
 8   Los Angeles city, California!!Total!!Margin of Error   57 non-null     object
 9   Los Angeles city, California!!Male!!Estimate           57 non-null     object
 10  Los Angeles city, California!!Male!!Margin of Error    57 non-null     object
 11  Los Angeles city, California!!Female!!Estimate         57 non-null     object
 12  Los Angeles city, California!!Female!!Margin of Error  57 non-null     object
dtypes: object(13)
memory usage: 6.5+ KB

In [1380]:
# Clean data by dropping unnecessary columns (i.e anything with "Margin of Error")
commute_time_df = commute_time_df.loc[:, ~commute_time_df.columns.str.contains('Margin of Error')]

In [1381]:
# Delete NaN values
commute_time_df = commute_time_df.dropna()

#show columns
commute_time_df.columns

Index(['Label (Grouping)', 'California!!Total!!Estimate',
       'California!!Male!!Estimate', 'California!!Female!!Estimate',
       'Los Angeles city, California!!Total!!Estimate',
       'Los Angeles city, California!!Male!!Estimate',
       'Los Angeles city, California!!Female!!Estimate'],
      dtype='object')

In [1382]:
# Rename columns for clarity
commute_time_df = commute_time_df.rename(columns={
        'Label (Grouping)' : 'Label/Group', 
        'California!!Total!!Estimate' : 'California Estimate',
       'California!!Male!!Estimate' : 'California Male Estimate', 
       'California!!Female!!Estimate' : 'California Female Estimate',
       'Los Angeles city, California!!Total!!Estimate' : 'Los Angeles City Estimate',
       'Los Angeles city, California!!Male!!Estimate' : 'Los Angeles City Male Estimate',
       'Los Angeles city, California!!Female!!Estimate' : 'Los Angeles City Female Estimate'
       })


# Display the first few rows of the cleaned DataFrame   
commute_time_df.head()

,Label/Group,California Estimate,California Male Estimate,California Female Estimate,Los Angeles City Estimate,Los Angeles City Male Estimate,Los Angeles City Female Estimate
0,Workers 16 years and over,"18,239,892","9,925,774","8,314,118","1,956,957","1,058,847","898,110"
2,"Car, truck, or van",82.0%,82.7%,81.2%,76.6%,77.8%,75.2%
3,Drove alone,72.1%,73.1%,70.9%,67.7%,69.2%,65.9%
4,Carpooled,10.0%,9.6%,10.3%,8.9%,8.5%,9.4%
5,In 2-person carpool,7.3%,7.0%,7.6%,6.8%,6.4%,7.3%

In [1383]:
# Save as new csv file with cleaned data
commute_time_df.to_csv('data_files\los_angeles_data\cleaned_la_commute_time.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\kaitl\AppData\Local\Temp\ipykernel_13424\2810426752.py:2: SyntaxWarning: invalid escape sequence '\l'
  commute_time_df.to_csv('data_files\los_angeles_data\cleaned_la_commute_time.csv', index=False)